* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

address {
  font-style: normal;
}

ul,
ol {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --body-background: #bfbaba;
  --block-1-background: #1e2939;
  --block-2-background: #ffffff;
  --color-text-blok-1-light: #ffffff;
  --color-text-blok-1-gray: #e4dddd;
  --color-text-block-1-dark: #a8a8a8;
  --color-text-block-2-light: #595959;
  --color-text-block-2-black: #000000;
  --color-text-block-2-link: #503f34;
  --color-languages-dark: #b14a25;
  --color-languages-norm: #c8cbce;
  --color-decorative: #fb6d3a;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  min-width: 280px;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--block-2-background);
  box-shadow: 0 0 30px 0 rgba(161, 159, 159, 0.849);
  overflow-y: auto;
}

.container_cover-letter {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container_cover-letter-Language {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cover-letter_language {
  font-weight: 500;
  line-height: 1.5;
  font-size: 26px;
  color: var(--color-text-block-2-black);
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.cover-letter_language-list {
  list-style: none;
  display: flex;
  border-radius: 60px;
  padding: 4px 4px;
  background-color: var(--color-languages-norm);
  width: 100px;
}

.cover-letter_language_item {
  width: 50%;
}

.cover-letter_language-link {
  color: var(--color-text-block-2-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;

  border-radius: 60px;
  padding-top: 4px;
  padding-bottom: 4px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.cover-letter_language-link:hover {
  color: var(--color-text-blok-1-light);
  background-color: var(--color-languages-dark);
  transition: background-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
}

.cover_letter-text {
  line-height: 1.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cover_letter-text-1,
.cover_letter-text-2,
.cover_letter-text-3,
.cover_letter-text-4,
.cover_letter-text-5,
.cover_letter-text-6 {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--color-text-blok-2-light);
}

.cover_letter-text-1,
.cover_letter-text-6 {
  font-size: 22px;
}

.cover_letter-link {
  text-decoration: none;
  display: block;
  text-align: center;

  margin-bottom: 10px;

  font-weight: 500;
  line-height: 1.5;
  font-size: 22px;
  color: #807f7f;
}

.cover_letter-link:hover {
  color: var(--color-decorative);
  transition: color 0.5s ease; 
}

.is-active-language {
  background-color: var(--color-languages-dark);
  transition: background-color 0.5s ease;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .container_cover-letter {
    width: 100%;
    position: absolute;
    max-height: 90%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
  }

  .cover-letter_language-list {
    list-style: none;
    display: flex;

    border-radius: 60px;
    padding: 4px 4px;
    background-color: var(--color-languages-norm);
    width: 100px;
  }
}
