<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Резюме</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/resume.css" />
  </head>
  <body>
    <div class="container">
      <section class="hero">
        <header class="header">
          <div class="container_header">
            <p class="header_resume-name">Резюме: Юрій Шукан</p>

            <nav>
              <ul class="header_language-list">
                <li class="header_language_item">
                  <a
                    href="../components/resume_eng.html"
                    class="header_language-link"
                    >Анг</a
                  >
                </li>
                <li class="header_language_item">
                  <a
                    href="../components/resume_ukr.html"
                    class="header_language-link"
                    >Укр</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </header>
        <div class="container_hero">
          <div class="container_photo"></div>

          <div class="container_contacts">
            <h2 class="contacts-inf">Контактна інформація</h2>
            <address class="addres">
              <ul class="address-list">
                <li class="address-item">
                  <a
                    href="https://www.linkedin.com/in/yuriy-shukan"
                    class="address-link"
                    target="_blank"
                    >LinkedIn</a
                  >
                </li>
                <li class="address-item">
                  <a
                    href="https://mail.google.com/mail/u/0/?pli=1#inbox"
                    class="address-link"
                    target="_blank"
                    >E-mail</a
                  >
                </li>
                <li class="address-item">
                  <a
                    href="https://t.me/Yuriy_JSdev?text=Привіт!"
                    class="address-link"
                    target="_blank"
                    rel="noopener"
                    >Тelegram</a
                  >
                </li>
                <li class="address-item">
                  <p class="container_contacts-zp">Запоріжжя, УкраЇна</p>
                </li>
              </ul>
            </address>
          </div>

          <div class="container_tech-skills">
            <h2 class="tech-skills-title">Технічні навички</h2>
            <ul class="tech-skills-list">
              <li class="tech-skills-item">
                <span class="tech-skills-span">HTML</span>
              </li>
              <li class="tech-skills-item">
                <span class="tech-skills-span">CSS</span>
              </li>
              <li class="tech-skills-item">
                <span class="tech-skills-span">Git / GitHub</span>
              </li>
              <li class="tech-skills-item">
                <span class="tech-skills-span">JavaScript</span>
              </li>
              <li class="tech-skills-item">
                <span class="tech-skills-span">React.js</span>
              </li>
            </ul>
          </div>

          <div class="container_soft-skills">
            <h2 class="soft-skills-title">Комунікаційні навички</h2>
            <ul class="soft-skills-list">
              <li class="soft-skills-item">
                <span class="soft-skills-span">Командна робота</span>
              </li>
              <li class="soft-skills-item">
                <span class="soft-skills-span">Увага до дрібниць</span>
              </li>
              <li class="soft-skills-item">
                <span class="soft-skills-span">Творчість</span>
              </li>
              <li class="soft-skills-item">
                <span class="soft-skills-span">Відповідальний</span>
              </li>
            </ul>
          </div>

          <div class="container_languages">
            <h2 class="languages-title">Мови</h2>
            <ul class="languages-list">
              <li class="languages-item">
                <span class="soft-skills-span">Англійська - початківець</span>
              </li>
              <li class="languages-item">
                <span class="soft-skills-span">Українська – рідна</span>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section class="junior">
        <div class="container_junior">
          <div class="junior-container">
            <h1 class="junior_name">Юрій Шукан</h1>
            <p class="junior_work">Молодшй фронтенд-розробник</p>
          </div>

          <div class="summary_container">
            <h2 class="summary_container-title">Резюме</h2>
            <p class="summary_container-text">
              Після успішного завершення курсів з front-end розробки, я набув
              впевнених навичок у володінні HTML, CSS, JavaScript та React.js.
              Ці навички допомагають мені ефективно працювати як в команді, так
              і самостійно. Я вмію аналізувати проблеми та розробляти
              раціональні рішення для їх усунення. Для мене важливими є
              постійний розвиток, практика та орієнтація на результат. Моєю
              метою є приєднатися до дружньої та професійної команди, де я зможу
              розвиватися та вдосконалювати свої навички. Я відкритий до нових
              викликів і готовий до навчання, щоб стати ефективним членом вашої
              команди.
            </p>
          </div>

          <div class="project_container">
            <h2 class="project_title">Досвід в проектах</h2>
            <ul class="project_list">
              <li class="project_item">
                <a
                  href="https://vikadmin88.github.io/project-CCrafters-JS"
                  class="project_link"
                  >Energy.Flow, Link</a
                >
                <p class="project_text">
                  [HTML, CSS, JS] Energy.Flow веб-сайт з адаптивним макетом,
                  гарним меню, модальними вікнами, робота з бекендом за
                  допомогою js і привабливий дизайн. Роль в команді: розробник.
                  Розробляв і адаптував розділ «Цитата дня».
                </p>
              </li>
              <li class="project_item">
                <a
                  href="https://evgenyaroviy.github.io/web-wizards/restaurant.html"
                  class="project_link"
                  >MIMINO, Link</a
                >
                <p class="project_text">
                  [HTML, CSS, JS] MIMINO веб-сайт з адаптивним макетом, гарним
                  меню, модальними вікнами та привабливим дизайном. Роль в
                  команді: розробник. Розроблено та адаптовано ресторан меню.
                </p>
              </li>
              <li class="project_item">
                <a
                  href="https://yuriy2223.github.io/goit-markup-hw-07"
                  class="project_link"
                  >Web Studio,Link</a
                >
                <p class="project_text">
                  [HTML, CSS, JS] WebStudio веб-сайт з адаптивним макетом,
                  гарним меню, модальними вікнами та привабливим дизайном.
                  Розробляв та адаптував сайт.
                </p>
              </li>
            </ul>
          </div>

          <div class="container_education">
            <h2 class="education_title">Освіта</h2>

            <ul class="education_list">
              <li class="education_item">
                <p class="school">
                  <a href="https://goit.global/ph/" class="education_link"
                    >IT школа GoIT</a
                  >
                </p>
                <p class="education_text">2023 - 2024 Fullstack Developer</p>
              </li>
              <li class="education_item">
                <p class="school"><a class="education_link">ЗДІА</a></p>
                <p class="education_text">
                  2007 - 2011р Обробка Металів Тиском, Магістр
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <script type="module" src="../js/main.js" defer></script>
  </body>
</html>
